<div class='bodyclass'>
  <div id='result' class='row'>
    <div class='col-10 offset-1'>
      <div class='resulttext'>
	<p> {{ body }} </p>
      </div>
      {{!-- <button class='button nextbutton' id='next' name='Reset'>Next</button> --}}
    </div>
  </div>
</div>


















































